allow recovery rootfs:dir rmdir;
allow recovery vold:unix_stream_socket connectto;
allow recovery vold_prop:property_service set;
allow recovery vold_socket:sock_file write;
allow recovery init:unix_dgram_socket sendto;
allow recovery kmsg_device:chr_file { append getattr ioctl open };
allow recovery selinuxfs:file write;
allow recovery vdc_exec:file { execute execute_no_trans };
allow recovery kmsg_device:chr_file { open write };
allow recovery rootfs:dir { add_name create remove_name write };
allow recovery rootfs:lnk_file create;allow recovery anr_data_file:dir getattr;
allow recovery apk_data_file:dir { open read };
allow recovery apk_private_data_file:dir { getattr open read };
allow recovery app_data_file:dir { getattr open read };
allow recovery app_data_file:file getattr;
allow recovery app_data_file:lnk_file getattr;
allow recovery asec_image_file:dir { getattr open read };
allow recovery bluetooth_data_file:dir { getattr open read };
allow recovery bluetooth_data_file:file getattr;
allow recovery bootchart_data_file:dir { getattr open read };
allow recovery dalvikcache_data_file:dir { open read };
allow recovery device_logging_prop:file { getattr open };
allow recovery drm_data_file:dir { getattr open read };
allow recovery gatekeeper_data_file:dir { getattr open read };
allow recovery gatekeeper_data_file:file getattr;
allow recovery keychain_data_file:dir { getattr open read };
allow recovery keychain_data_file:file getattr;
allow recovery logpersistd_logging_prop:file { getattr open };
allow recovery media_data_file:file getattr;
allow recovery media_rw_data_file:dir { getattr open read search };
allow recovery media_rw_data_file:file { getattr open read };
allow recovery mmc_prop:file { getattr open };
allow recovery mtp_device:chr_file { ioctl open read write };
allow recovery net_data_file:dir { getattr open read };
allow recovery net_data_file:file getattr;
allow recovery ota_data_file:dir { getattr open read };
allow recovery ota_package_file:dir { getattr open read };
allow recovery property_data_file:dir { getattr open read };
allow recovery property_data_file:file getattr;
allow recovery radio_data_file:dir { getattr open read };
allow recovery radio_data_file:file getattr;
allow recovery resourcecache_data_file:dir { getattr open read };
allow recovery resourcecache_data_file:file getattr;
allow recovery rootfs:fifo_file { create open read unlink };
allow recovery rootfs:lnk_file unlink;
allow recovery safemode_prop:file { getattr open };
allow recovery self:capability sys_time;
allow recovery shared_relro_file:dir getattr;
allow recovery system_data_file:dir { open read };
allow recovery system_data_file:file open;
allow recovery tombstone_data_file:dir { getattr open read };
allow recovery tombstone_data_file:file getattr;
allow recovery vpn_data_file:dir { getattr open read };

